/* general */
.btn-danger{
    background-color: #cc0303;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.btn-outline-danger:hover{
    background-color: #cc0303;
}
.btn-outline-danger{
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.fa-check{
    color: #5096F1;
    font-size: 1.2rem;
}
.btn-desple-table a{
    color: #cc0303;
    text-decoration: none;
    font-size: 1.3rem;
}
.fa-times{
    color: #cc0303;
    font-size: 1.2rem;
}
.container-title{
    background-color: #f9f9f9;
    margin-top: 5rem;
    border-radius: 14px;
    padding-bottom: 15rem;
}
.card{
    border-radius: 10px;
}
.card-header:first-child{
    border-radius: 10px;
}
.container-title h1{
    padding-top: 10rem;
    color: #cc0303;
    font-size: 3.5rem;
    font-weight: 700;
}
.container-title p{
    font-size: 1.5rem;
}
.table-pricing-top{
    width: 90%;
    margin: 0 auto;
    margin-top: -5rem;
}
.table-pricing-top .col:nth-child(3){
    margin-top: -1rem;
    height: 550px;
}
.table-pricing-top button{
    font-size: .8rem;
}
ul {
    /* display: flex; */
    top: 0px;
    z-index: 10;
    padding-bottom: 14px;
}
li {
    list-style: none;
    flex: 1;
}
table {
    border-collapse: collapse;
    table-layout: fixed;
}
th {
    /* background: #f5f5f5; */
    display: none;
}
td,
th {
    height: 53px;
}
td,
th {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    empty-cells: show;
}
td,
th {
    text-align: left;
}
td + td,
th + th {
    text-align: center;
    display: none;
}
tr td{
    color: #848199;
}
td.default {
    display: table-cell;
}
.sep {
    font-weight: 700;
    color: #cc0303;
    font-size: 1.5rem;
    padding-top: 2rem;
    text-transform: uppercase;
}

.txt-l {
    font-size: 28px;
    font-weight: bold;
}
.txt-top {
    position: relative;
    top: -9px;
    left: -2px;
}
.hide {
    border: 0;
    background: none;
}

td p{
    font-size: .8rem;
    color: #848199;
    margin-bottom: 0;
    padding-bottom:0 ;
}


@media (min-width: 1200px) {
    .tablas-pricing {
        display: none;
    }
    th{
        border: none;
    }
    th li .card{
        width: 250px;
        height: 230px;
    }
    td,
    th {
        display: table-cell !important;
    }
    td,
    th {
        width: 330px;
    }|
    td + td,
    th + th {
        width: auto;
    }
    .dos-col {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
      }
      
      .dos-col > div {
        width: 50%;
        text-align: end;
      }
      .container-table{
        background: #F9F9F9;
        padding: 3rem;
        border-radius: 14px;
        width: 93%;
        margin: 0 auto;

    }
    .row.row-cols-1.row-cols-md-4.mb-3.text-start {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .table-pricing-top .col:nth-child(1){
        margin-right: -2rem;
        margin-top: 2rem;
    }
    .table-pricing-top .col:nth-child(2){
        margin-right: -2rem;
    }
    .table-pricing-top .col:nth-child(3){
        z-index: 1;
    }
    .table-pricing-top .col:nth-child(4){
        margin-left: -2rem;
        margin-top: 2rem;
    }
    .formulario-contacto-home{
        width: 60%;
        margin: 0 auto;
    }

}

@media (max-width:1186px) {
    
    .table-pricing-top{
        display: none;
    }
    .container-title h1{
        padding-top: 4rem;
        color: #cc0303;
        font-size: 2.5rem;
        font-weight: 600;
    }
    .container-title{
        background-color: #f9f9f9;
        margin-top: 5rem;
        border-radius: 14px;
        padding-bottom: 9rem;
    }
    .card-header{
        padding: 0;
    }
    .card-body{
        padding: 0!important;
    }
    table {
        width: 100%;
    }
    .tablas-pricing > .row > .col-4{
        width: 100%!important;
    }
    .dos-col {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
      }
      
      .dos-col > div {
        width: 100%;
        text-align: center;
      }
      .dos-col > div:last-child {
        width: 100%;
        text-align: center;
        color: #848199;
        font-size: .8rem;
        /* margin-left: .7rem; */
      }
      .btn-desple-table{
          display: none;
      }
}

.tablas-pricing > .row > .col-4 {
    display: inline-block;
    width: 80%;
}

.card-table-container {
    max-height: 0;
    transition: .5s ease-out;
    opacity: 0;
    width: 100%;
}
.card-table-container.active {
    max-height: 200vh;
    opacity: 1;
}
.tablas-pricing ul.list-unstyled.mt-3.mb-4 {
    display: block;
}
.card-header h2{
    font-weight: 200;
    font-size: 2.7rem;
}
.card-header span{
    font-weight: 400;
    font-size: .85rem;
}
.card-header h2 small{
    font-weight: 100;
    color: #a5a5a5;
    font-size: 1.5rem;
}
.card-header h2 small p{
    font-size: .9rem;
}
.small-card-price small{
    font-size: 1rem!important;
}
.card-body {
    white-space: initial !important;
}
.card-body h4{
    font-weight: 700;
    color: #cc0303;
    font-size: 1.8rem;
}
.card-body li{
    color: #a5a5a5;
    font-size: 1.2rem;
    font-weight: 300;
}
.card-top-pricing{
    height: 500px;
}
.badge-popular{
    position: absolute;
    right: 10px;
    top: 10px;
}
.badge-popular span{
    border-radius: 14px;
    background-color: #5096F1;
    font-weight: 500;
}
.card-top-pricing .card-body a{
    position: absolute;
    bottom: 30px;
    margin: 0 auto;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-pricing-top{
    display: flex;
    justify-content: center;
}
.card-table-container {
    max-height: 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: max-height 0.3s, padding 0.3s;
}
.card-table-container table{
    border-collapse: collapse;
}
.card-table-container.active{
    max-height: 650vh;
    transition: max-height 0.6s, padding 0.6s;
}

.radio {
	padding: 4px;
    margin-top: -10rem;
    margin-left: 3rem;
    margin-bottom: 6rem;
	position: relative;
}

.radio input {
	width: auto;
	height: 100%;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 4px 8px;
	color: #bdbdbdbd;
	font-size: 14px;
	transition: all 100ms linear;
}
.radio span{
    margin-bottom: 1rem;
}
.radio input:checked {
	background-color: #cc0303;
	color: #fff;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
    border: none;
}
.radio input {
    margin-right: .3rem;
    background-color: #fff;
    width: 100px;
    font-size: 1rem;
    font-weight: 400;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 0.25rem;
    border: 1px solid #f3f3f3;
}

.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}
@media (max-width:1200px) {
    .radio{
        display: flex;
        justify-content: center;
        margin-left: 0;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    .preguntas-fre{
        padding: 0!important;
    }
    .contacto-home {
        padding: 0!important;
    }
}
.preguntas-fre{
    text-align: center;
    margin-top: 6rem;
    background-color: #f9f9f9;
    padding: 3rem;
    border-radius: 14px;
}
.preguntas-fre h2{
    color: #cc0303;
    font-size: 2.3rem;
    font-weight: 700;
}
.accordion-button{
    background-color: #f9f9f9;
}
.accordion-button:not(.collapsed) {
    color: #222;
    /* border: none; */
    background-color: #f9f9f9;
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-item{
    border-top: none;
    border-left: none;
    border-right: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #f9f9f9;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
}

.contacto-home {
    background-color: #fafafa;
    border-radius: 14px;
    padding: 3rem;
}
.contacto-home h2 {
    color: #cc0303;
    font-weight: 700;
}
.subtitulos-home h2{
    font-size: 2.3rem;
}
.formulario-contacto-home h2 {
    color: #222;
    font-size: 1.8rem;
    font-weight: 500;
}
.formulario-contacto-home h2 b {
    color: #cc0303;
}
.boton-card-desk{
    position: absolute;
    bottom: 0;
    width: 100%;
}



